@media (min-width: 768px) and (max-width: 991px) {
	img.DollorIcon {
		width: 100%;
		max-width: 8px
	}
	button.pay_now {
		width: 100%
	}
	.bannercontent .col-md-3 {
		flex: 0 0 100%;
		max-width: 100%
	}
	.bannercontent .col-md-2 {
		flex: 0 0 100%;
		max-width: 100%
	}
	.bannercontent .col-md-1 {
		flex: 0 0 100%;
		max-width: 100%
	}
	.BannerFrom {
		background-color: #fff
	}
	.BannerFrom .BannrGrup {
		margin-bottom: 10px!important
	}
	ul.navbar-nav.main_menu.ml-auto {
		background: #fff;
		margin-top: 13px
	}
	div#pills-tabContent>.mobiitem {
		display: block!important
	}
	.navbar-light .navbar-toggler {
		background: #fff!important
	}
	.TabContactSide.NwtabCon22 button {
		margin: 0 auto;
		margin-top: 24px
	}
	.all_rights {
		float: unset
	}
	.SymkheadingCol {
		padding: 40px 15px
	}
	.our_menus ul.mobiserch {
		display: block
	}
	.pi-mainlistbtms p {
		line-height: 24px
	}
	.Lpara iframe {
		width: 100%
	}
	.videoBkBtn a {
		padding: 9px 5px 14px 6px;
		font-size: 15px
	}
	.room_btn span {
		font-size: 13px
	}
	.footer_section .col-md-3 {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
		margin-bottom: 20px
	}
	.all_rights p {
		text-align: center
	}
	ul#menu-main-menu>li {
		position: relative;
		padding: 7px 0
	}
	.our_menus .main_menu li a {
		font-size: 13px;
		padding: 12px 7px!important
	}
	body.page.page-id-5 .main_menu li:nth-child(n)>.sub-menu {
		left: 0!important
	}
	div#navbarSupportedContent .footer {
		display: block
	}
	header.main-header .footer_section {
		position: fixed
	}
	.Edit2Night23 {
		max-width: 100%;
		position: unset
	}
}
@media (min-width: 575px) and (max-width: 768px) {
	.bannercontent .col-md-3 {
		flex: 0 0 100%;
		max-width: 100%
	}
	.Edit2Night23 {
		max-width: 100%;
		position: unset
	}
	button.pay_now {
		width: 100%
	}
	.bannercontent .col-md-2 {
		flex: 0 0 100%;
		max-width: 100%
	}
	.bannercontent .col-md-1 {
		flex: 0 0 100%;
		max-width: 100%
	}
	.BannerFrom {
		background-color: #fff
	}
	.BannerFrom .BannrGrup {
		margin-bottom: 10px!important
	}
	ul.navbar-nav.main_menu.ml-auto {
		background: #fff;
		margin-top: 13px
	}
	.videoBkBtn a {
		font-size: 15px
	}
	.contact {
		margin: 0;
		padding-top: 10px
	}
	ul.nav-pay li {
		max-width: 42px;
		margin-top: 10px
	}
	.ReviewUl p {
		line-height: 27px
	}
	.all_rights {
		float: unset
	}
	.our_menus ul.mobiserch li span {
		padding-right: 26px!important
	}
	a.navbar-brand.logot span {
		left: 36px!important
	}
}
@media only screen and (max-width: 767px) {
	section.LuxuryFun .col-12 {
		padding-left: 5px;
		padding-right: 5px
	}
	ul#pills-tab li a p {
		text-transform: capitalize;
		text-align: left
	}
	img.imggsecviceyhree {
		position: relative;
		left: 6px
	}
	.contant-pergrap p {
		margin-left: 15px
	}
	.contant-pergrap small {
		text-align: left;
		float: left;
		padding-left: 15px
	}
	ul.LuxeryUl li:nth-child(1) img {
		position: relative;
		width: 65px;
		top: 2px;
		height: 65px;
		object-fit: cover
	}
	ul.LuxeryUl li:nth-child(2) img {
		width: 79px;
		position: relative;
		top: 2px
	}
	ul.LuxeryUl li:nth-child(3) img {
		width: 84px;
		position: relative;
		top: -8px
	}
	.LuxeryUl li:nth-child(4) img {
		width: 80px!important;
		position: relative!important;
		top: -7px!important
	}
	.room_btn span {
		margin-bottom: 5px;
		display: block;
		font-size: 13px;
		line-height: 14px;
		color: #913f3f;
		text-align: center
	}
	.MainVilaNw.container .col-md-12.col-sm-12.col-12 {
		padding: 0
	}
	.DiscovrRow .col-md-6.col-sm-12.col-12 {
		padding: 0
	}
	.DiscovrRow .col-md-8.col-sm-9.col-12,
	.col-md-2.col-sm-3.col-12 {
		padding: 0
	}
	section.LuxuryFun .col-md-6.col-sm-12.col-12 {
		padding: 0
	}
	li#menu-item-875 i {
		position: relative;
		top: -11px!important
	}
	li#menu-item-875 {
		padding: 0 0;
		line-height: 0
	}
	.SrchvilaPrice a {
		padding: 9px 5px 9px
	}
	.GalleryDetail .Symkheading {
		padding: 10px 0
	}
	.GalleryDetail {
		padding: 0 0
	}
	.GalleryPageSection .custom-cls-gallery {
		padding-top: 0
	}
	.Newgallery {
		padding-right: 0!important;
		padding-left: 0!important
	}
	.fancybox-content {
		margin: 0 15px!important
	}
	.col-md-1.col-sm-1.col-6.two-col.disply-show {
		display: block!important
	}
	.page-id-141 .galleryDBox {
		padding: 0
	}
	.page-id-141 .custom-cls-gallery {
		padding-left: 15px
	}
	.galdesvideo iframe {
		height: 190px!important
	}
	.TAbULId ul li a {
		font-size: 10px
	}
	.col-md-3.col-sm-12.col-12.forZidx.ColSleOrM2 {
		order: -1
	}
	.Edit2Night23 {
		max-width: 100%!important;
		position: unset!important;
		margin-top: 15px;
		margin-bottom: 20px
	}
	.Lpara.MobLpara p {
		padding: 0
	}
	.Lpara.MobLpara iframe {
		height: 180px
	}
	.video_section.Video2secM iframe {
		height: 175px
	}
	.page-id-135 .video_section iframe {
		height: 185px
	}
	.page-id-129 .video_section iframe {
		height: 185px
	}
	.main-header {
		display: block;
		width: 100%;
		position: fixed;
		background: #fff;
		z-index: 999;
		transition: all .5s;
		top: 0;
		left: 0;
		right: 0
	}
	ul#menu-main-menu ul.sub-menu {
		z-index: 99
	}
	#menu-item-345 a {
		display: none
	}
	.SidebarFrom .ConSlideAgn {
		width: 100%;
		padding: 0
	}
	.side_new .selectize-control {
		width: 100%;
		margin: 0 auto;
		padding: 0 15px;
		margin-top: 12px;
		padding-top: 12px
	}
	.side_new select.selector.ftNselct.currency_select1 {
		max-width: unset
	}
	button.pay_now {
		width: 100%
	}
	.PixBtnMr1 button.btn.SubBtn.BkNow {
		margin-bottom: 0
	}
	.TabContactSide.NwtabCon22 button {
		margin: 0 auto;
		margin-top: 24px
	}
	li#menu-item-345 {
		padding: 0!important
	}
	.col-md-6.formobOr {
		order: 1;
		margin-top: 17px
	}
	.PaFeldBox {
		display: block;
		padding: 20px 18px
	}
	.form-group.BannrGrup {
		margin-bottom: 10px
	}
	img.DollorIcon {
		width: 100%;
		max-width: 8px;
		left: 3px;
		margin-right: 6px;
		position: relative
	}
	div#ui-datepicker-div {
		left: 0!important;
		width: 100%!important
	}
	.AddedCheck label.form-check-label input {
		top: 9px
	}
	div#fieldsets button.edit-nightsbtn {
		padding: 8px;
		text-transform: capitalize;
		font-weight: 400!important
	}
	.newcontinue {
		float: right;
		width: 100%
	}
	.footer_section p.Vila2019 {
		text-align: center;
		margin: 0 auto
	}
	.EditExtraBtn.minngus-editbtn button,
	.edit-nightsbtn {
		font-size: 14px;
		padding: 6px 3px;
		position: absolute;
		top: 3px;
		right: 0
	}
	input.deleteDates {
		width: 100%;
		max-width: 72px;
		right: 0;
		top: -45px;
		font-size: 14px!important;
		padding: 2px 2px!important;
		background: #fff!important
	}
	.priceSection p {
		right: 0;
		font-size: 15px;
		top: -45px;
		position: absolute
	}
	.bannercontent {
		padding: 16px 0
	}
	.bannercontent h1 {
		font-size: 26px;
		line-height: 34px;
		padding: 0
	}
	.BannerFrom {
		background-color: #fff;
		width: 100%;
		max-width: 260px
	}
	.BannrGrup span.lnr-magnifier {
		left: 0;
		right: 0
	}
	.Luxerycontent h4 {
		font-size: 19px
	}
	.Lpara p {
		padding: 17px
	}
	.SimyakPara p {
		padding: 6px 20px
	}
	.all_rights {
		text-align: center;
		float: unset
	}
	.Luxerycontent h2 {
		font-size: 24px;
		margin-bottom: 25px;
		margin-top: 20px
	}
	.LuxeryUl li:nth-child(1) img {
		width: 100%;
		max-width: 95px;
		margin-bottom: 20px;
		height: 58px;
		object-fit: contain
	}
	.LuxeryUl li:nth-child(2) img {
		width: 100%;
		max-width: 129px;
		margin-bottom: 20px
	}
	.Symkheading h1 {
		font-size: 22px
	}
	ul.navbar-nav.main_menu.ml-auto {
		background: #fff;
		margin-top: 5px;
		padding-bottom: 35px!important;
		padding: 8px;
		z-index: 9;
		position: relative
	}
	.pi-morefilter select {
		margin-left: 0
	}
	span.lnr.lnr-magnifier.mangn2 {
		right: 0;
		left: 0;
		max-width: unset
	}
	.btn-cta {
		margin-top: 8px
	}
	.galleryDBox {
		padding: 7px
	}
	.galleryvideo {
		padding: 15px
	}
	.galleryvideo iframe {
		height: 220px
	}
	.ViaaTabul {
		display: none
	}
	.ViaaTabul>li {
		display: block
	}
	.ViaaTabul>li a {
		background: #eee;
		position: relative
	}
	ul#pills-tab span {
		display: inline-block
	}
	div#pills-tabContent {
		display: block
	}
	ul#pills-tab span {
		margin-right: 10px
	}
	span.lnr.lnr-chevron-down {
		margin-left: 0;
		position: absolute;
		right: 24px
	}
	span.lnr.lnr-chevron-up {
		margin-left: 0;
		position: absolute;
		right: 24px
	}
	.Lpara iframe {
		width: 100%
	}
	.MobiSrching {
		display: block
	}
	.Rsult7 {
		background-color: #333;
		margin: 0;
		display: inline-block;
		width: 100%
	}
	.Rsult7 li {
		display: inline-block;
		font-weight: 700;
		padding: 10px 2px 10px 18px
	}
	.Rsult7 li p {
		color: #fff;
		margin: 0;
		font-weight: 400
	}
	.pi-left-listing {
		padding-top: 10px
	}
	ul.row.ulmobIcon {
		background: #eee;
		min-height: 43px;
		width: 100%;
		margin: 0
	}
	.pi-mainmaplist .col-md-7 {
		padding-left: 0
	}
	.ulmobIcon li a {
		border-bottom: 1px solid #ddd;
		border-radius: 0;
		background-color: #eee;
		color: #999!important;
		-webkit-box-shadow: none;
		box-shadow: none;
		font-size: 16px;
		font-size: 1.1428571428571428rem;
		-webkit-transition: opacity .2s ease;
		-o-transition: opacity .2s ease;
		transition: opacity .2s ease;
		border-right: 1px solid #ddd;
		display: inline-block;
		width: 100%;
		padding: 7px 15px
	}
	.pi-mainlist {
		height: auto;
		overflow-x: hidden;
		overflow-y: auto;
		padding-right: 0
	}
	.ulmobIcon li a.active {
		color: #942424!important
	}
	.ulmobIcon li a.active {
		border-bottom-color: #942424;
		border-bottom-width: 2px;
		border-left-width: 1px;
		border-right-width: 1px
	}
	ul.row.ulmobIcon li {
		padding: 0;
		text-align: center;
		width: 100%
	}
	.BgdisFrm {
		display: none
	}
	.pi-mainlistimgs img {
		width: 142px!important;
		height: 100%!important
	}
	.pi-mainlistimgs a {
		height: 100%;
		overflow: inherit
	}
	.mobile-full-show label,
	.pi-morefilter .col-md-3 {
		display: none
	}
	.pi-morefilter {
		padding: 0
	}
	.pi-morefilter .mobile-full-show {
		margin: 0;
		float: none;
		background: #fff;
		position: fixed;
		left: 0;
		right: 0;
		z-index: 9999;
		height: 100vh;
		padding-top: 9px;
		display: none
	}
	.pi-morefilter .form-inline {
		justify-content: center
	}
	.pi-morefilter select {
		width: 200px
	}
	.pi-mainlistimgs {
		position: absolute;
		left: 9px;
		height: 100%;
		padding-bottom: 10px
	}
	.pi-mainlisttop {
		position: relative;
		margin-bottom: 10px;
		padding-left: 165px;
		min-height: 85px;
		border-bottom: 1px solid #d1d1d1;
		margin-top: 0
	}
	.pi-mainlistimgs a.btn.btn-cta.srchsubBtn {
		display: none
	}
	.pi-mainlistbtms h5 a {
		font-size: 13px
	}
	.pi-mainlistbtms p a span {
		font-size: 11px
	}
	.pi-mainlistbtms ul li {
		display: none
	}
	.Symkheading {
		padding: 10px 20px
	}
	.Keyfacts {
		padding: 0 20px
	}
	.OverContent {
		height: auto
	}
	.ViaaTabul>li a {
		padding: 9px 0 9px 0
	}
	div#pills-tabContent>.mobiitem {
		display: block!important;
		background: #f7f7f7;
		border-bottom: 1px solid #eee
	}
	div#pills-tabContent>.mobiitem span {
		padding-right: 15px
	}
	.pi-topsearch {
		display: block;
		position: unset
	}
	.pi-mainlistbtms p {
		top: 0;
		margin: 0;
		line-height: 18px;
		font-size: 15px
	}
	.pi-mainlistbtms h5 a {
		font-size: 12px;
		width: 100%;
		display: block;
		line-height: 18px
	}
	.pi-mainlistbtms p a span {
		font-size: 12px
	}
	.price {
		position: absolute;
		background-color: transparent;
		color: #fff!important;
		left: 101px;
		width: 188px;
		text-align: left
	}
	.price small span {
		color: #942424!important;
		font-weight: 700
	}
	span.price__min-price {
		font-size: 13px;
		color: #942424;
		font-weight: 700
	}
	.pi-mapfix {
		display: none
	}
	.logot {
		padding: 4px 0
	}
	.pi-listingsearch.PiRemoMr {
		margin-top: 65px
	}
	a.btn1 {
		position: fixed;
		width: 100%;
		text-align: center;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 19px;
		z-index: 999
	}
	ul#section-tabs {
		display: none
	}
	.mobiitemStep {
		text-align: center;
		margin-bottom: 10px;
		color: #b0abab
	}
	.FixedFrom {
		top: 18%
	}
	img.bediconImg {
		right: 2px
	}
	.BannrGrup span {
		right: 17px
	}
	.form-group.BannrGrup span.lnr.lnr-map-marker {
		right: 20px
	}
	.navbar-light .navbar-toggler {
		background: #fff!important;
		border: none;
		padding-right: 12px;
		padding-top: 0
	}
	.our_menus {
		padding: 0
	}
	.banner-slide.owl-carousel .owl-dots {
		bottom: 5%;
		left: 0;
		right: 0
	}
	a.navbar-brand.logot {
		width: 100%;
		max-width: 152px;
		padding: 0 0 0 15px
	}
	.BannrGrup span img {
		right: 2px;
		opacity: .7
	}
	.BannrGrup span {
		color: #313335;
		position: absolute;
		right: 20px;
		font-size: 21px;
		z-index: 0
	}
	ul#menu-main-menu>li i {
		float: right;
		top: 7px;
		position: relative
	}
	ul#menu-main-menu>li {
		position: relative;
		padding: 7px 0
	}
	.main_menu .sub-menu {
		left: 0;
		padding: 10px
	}
	h1.pop-header {
		font-size: 16.5px;
		line-height: 20px;
		padding: 0
	}
	ul.editable-items {
		padding-left: 0;
		margin-top: 16px;
		height: auto;
		margin-bottom: 12px
	}
	.BodyPoUp .modal-dialog {
		max-width: 292px;
		margin: 15px auto;
		top: 10%
	}
	li.offer-benefit {
		margin-bottom: 10px;
		text-align: center;
		font-size: 11px;
		padding: 0
	}
	.videoBkBtn a {
		margin: 25px auto;
		display: block
	}
	a.navbar-brand.logot span {
		font-size: 13px;
		left: 1px;
		top: -2px;
		position: relative;
		padding-left: 0
	}
	body.page-id-5 .our_menus ul.mobiserch li span {
		padding-right: 18px;
		font-size: 15px;
		padding-right: 17px;
		font-weight: 600;
		color: #9f9f9f
	}
	body.page-id-252 .our_menus ul.mobiserch li span {
		font-size: 15px;
		padding-right: 17px;
		font-weight: 600;
		color: #9f9f9f
	}
	body.page-id-13 .our_menus ul.mobiserch li span {
		font-size: 15px;
		padding-right: 17px;
		font-weight: 600;
		color: #9f9f9f
	}
	body.page-id-141 .our_menus ul.mobiserch li span {
		font-size: 15px;
		padding-right: 17px;
		font-weight: 600;
		color: #9f9f9f
	}
	body.page-id-11 .our_menus ul.mobiserch li span {
		font-size: 15px;
		padding-right: 17px;
		font-weight: 600;
		color: #9f9f9f
	}
	body.page-id-279 .our_menus ul.mobiserch li span {
		font-size: 15px;
		padding-right: 17px;
		font-weight: 600;
		color: #9f9f9f
	}
	.our_menus ul.mobiserch li span {
		font-size: 15px;
		padding-right: 1px;
		font-weight: 600;
		color: #9f9f9f
	}
	a.navbar-brand.logot img {
		max-width: inherit;
		width: 158px
	}
	.navbar {
		padding: 9px 0 6px 0
	}
	.ReviewUl p {
		line-height: 18px
	}
	.galleryvideo {
		margin-bottom: 0
	}
	.galleryvideo p {
		margin-bottom: 0
	}
	.main_menu li:nth-child(n)>.sub-menu {
		left: 4%
	}
	body.page.page-id-5 .main_menu li:nth-child(n)>.sub-menu {
		left: 0!important
	}
	ul.sub-menu.third_sub_menu {
		display: none;
		transition: all .5s;
		left: 0!important;
		max-width: 210px;
		top: 89px!important
	}
	.BdBack .ConSidWid p:first-child {
		margin-top: 24px!important
	}
	ul.LuxeryUl li {
		width: 23%!important
	}
	ul#menu-main-menu>li>i {
		position: absolute;
		top: 1px;
		float: none;
		text-align: right;
		width: 45px;
		left: inherit;
		right: 13px;
		padding: 5px 0 12px 0;
		font-size: 23px
	}
	.our_menus ul.mobiserch {
		display: block;
		position: absolute;
		top: 20px;
		right: 30px;
		z-index: 9
	}
	.page-id-135 .mobiserch>li {
		margin-right: 26px
	}
	.page-id-129 .mobiserch>li {
		margin-right: 24px
	}
	.overlay-over {
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		background: rgba(0, 0, 0, .3);
		left: 0;
		right: 0;
		z-index: 9;
		transition: all .5s
	}
	.BannerFrom.slideSel {
		display: none;
		position: fixed;
		top: 151px;
		left: 0;
		right: 0;
		width: 100%;
		margin: 0 auto;
		z-index: 99999999!important
	}
	.BodyPoUp .modal-cross .close span {
		font-size: 32px
	}
	.BodyPoUp .modal-cross .close {
		top: 0
	}
	.pop-up-cta {
		width: 100%;
		background: gray;
		height: 43px;
		font-size: 14px;
		line-height: 40px
	}
	li.offer-benefit:before {
		margin-top: 6px;
		margin-right: 0
	}
	.modal.BodyPoUp.show .modal-body {
		padding: 15px 30px
	}
	.popup-logo {
		padding: 20px 0
	}
	.ps-notes {
		margin-top: 19px
	}
	ul.sub-menu.third_sub_menu {
		top: 31px!important;
		z-index: 99999
	}
	ul.sub-menu.third_sub_menu::after {
		content: "";
		display: inline-block!important;
		height: 0;
		width: 0;
		border: solid transparent;
		position: absolute;
		bottom: 100%;
		left: 24%;
		content: " ";
		pointer-events: none;
		margin-left: 46px;
		border-color: hsla(0, 0%, 80%, 0);
		border-bottom-color: #ccc;
		border-width: 6px
	}
	li#menu-item-801>ul,
	li#menu-item-802>ul {
		top: 118px!important
	}
	.mobiitem a.mobTab {
		padding: .5rem 1rem;
		display: inline-block;
		width: 100%
	}
	.SymkheadingCol {
		margin-bottom: 35px;
		padding: 40px 5px
	}
	.mobi_bottom {
		display: block;
		background: #35404d;
		height: 215px
	}
	.mobi_fb {
		margin-bottom: 0
	}
	ul.sub-menu.third_sub_menu li i {
		display: block
	}
	.col {
		flex: 0 0 100%
	}
	.currency_selector {
		position: relative;
		z-index: 9999;
		display: block;
		margin: 4px 5px 0 10px
	}
	.bankttranS_logo {
		display: block;
		text-align: center;
		width: 100%;
		padding: 6px 0
	}
	ul.nav-social>li {
		display: inline;
		margin-right: 0
	}
	ul.nav-social {
		max-width: 145px;
		margin: 0 auto;
		padding-right: 15px;
		padding-left: 20px!important
	}
	ul.nav-social li a img {
		max-width: 27px;
		padding-bottom: 10px
	}
	div#navbarSupportedContent .footer {
		display: block
	}
	header.main-header .container-fluid {
		padding: 0
	}
	div#navbarSupportedContent {
		margin: 0
	}
	.navbar-toggler:focus {
		outline: 0!important
	}
	.BodyPoUp .modal-content {
		top: 0
	}
	section.footer .footer_section .row>div:nth-child(1),
	section.footer .footer_section .row>div:nth-child(2),
	section.footer .footer_section .row>div:nth-child(3) {
		right: 0
	}
	section.footer .footer_section .row>div:nth-child(1) .currency_selector.text-center {
		left: 0;
		max-width: 100%;
		top: -48px
	}
	.ColSleOrM2 .PayFooter.text-center {
		top: 50px
	}
	.footer_section .selectize-control {
		position: relative;
		width: 100%;
		top: 5px;
		left: unset;
		max-width: 210px;
		margin: 0 auto
	}
	.PayFooter.text-center,
	.bankttranS_logo {
		right: 0
	}
	ul#menu-main-menu ul.sub-menu li i {
		display: block;
		font-size: 19px;
		position: relative;
		top: 4px
	}
	span.select2-dropdown.select2-dropdown--below {
		width: 179px!important;
		left: -33px!important
	}
	.footer_section {
		padding: 14px 0 10px;
		background: #f7f7f7;
		height: 100%;
		transition: all .5s
	}
	header.main-header .footer_section {
		position: fixed;
		bottom: -2px;
		height: auto!important
	}
	ul.nav-social li:nth-child(4) img {
		position: relative;
		left: -2px
	}
	.footer_section .contact.text-right {
		text-align: center!important
	}
	.our_menus .main_menu li a {
		font-size: 13px;
		padding: 12px 7px!important
	}
	.bankttranS_logo img {
		width: 100%;
		max-width: 45px
	}
	ul.nav-pay li img {
		max-width: 40px
	}
	ul.nav-pay li {
		display: block;
		width: auto;
		max-width: 50px;
		margin: 0 5px
	}
	ul.nav-pay {
		display: flex;
		justify-content: center;
		margin: 5px 0 8px
	}
	.contact {
		margin: 0
	}
	.footer_section p {
		font-size: 11px;
		position: relative;
		top: -6px;
		left: 15px
	}
	.contact a>i {
		font-size: 20px
	}
	.side_new {
		margin: 0 auto
	}
	li#menu-item-876 ul.sub-menu.third_sub_menu {
		top: 120px!important
	}
	li#menu-item-875 ul.sub-menu {
		top: 120px!important;
		left: 0!important
	}
	p.TouchP {
		display: block;
		position: relative;
		left: 3px;
		padding-top: 2px;
		margin-bottom: 0
	}
	.pay_new {
		text-align: center;
		margin-top: 7px
	}
	.PayFooter.text-center.credit_optn {
		right: 0
	}
	.contFrom .paylogo {
		right: 0
	}
	button#contact-send {
		position: relative;
		margin: 0 auto;
		width: 100%
	}
	.credit_optn p {
		margin-bottom: 7px;
		margin-top: 8px
	}
	.forZidx {
		z-index: 1!important;
		position: relative
	}
	.EditExtraBtn.minngus-editbtn button,
	.edit-nightsbtn {
		top: 0;
		right: 0
	}
	.SrchvilaPrice p br {
		display: none
	}
	.SrcRPadR {
		padding-right: 15px
	}
	.SrcRPadL {
		padding-left: 15px;
		margin-top: 10px
	}
	.pi-mainlisttop {
		padding-right: 10px
	}
	.SrchvilaPrice p {
		font-weight: 700;
		font-size: 12px
	}
	.pi-mainlistbtms h5 {
		margin-bottom: 0
	}
	.NewVilaBedBtnBox {
		margin-bottom: 10px
	}
	body.page-id-17 .our_menus ul.mobiserch li span {
		font-size: 15px;
		padding-right: 17px;
		font-weight: 600;
		color: #9f9f9f
	}
	body.page-id-15 .our_menus ul.mobiserch li span {
		font-size: 15px;
		padding-right: 17px
	}
	.AgnNwPayc .PayFooter.text-center.credit_optn {
		margin-left: 0;
		margin: 0 auto
	}
	.check_availability_1 .edit-nightsbtn {
		right: 0
	}
	fieldset.current {
		padding: 0 0
	}
	.PaFeldBox {
		margin-left: 0
	}
	#fieldsets {
		padding: 10px 0 10px 0
	}
	#fieldsets {
		padding: 10px 0 10px 0
	}
	.PaFeldBox {
		padding: 20px 0
	}
	.page-id-11 .pd90 {
		padding-top: 60px
	}
	section.ContactSection {
		padding-top: 60px
	}
	.pd90 {
		padding-top: 60px
	}
	.Symkheading {
		margin-top: 0
	}
	.page-id-17 .pi-listingsearch.PiRemoMr {
		margin-top: 60px!important
	}
	.PaFeldBox a {
		max-width: 100%;
		padding: 8px;
		font-size: 16px;
		border-radius: 7px
	}
	h3.choose_extra {
		font-size: 25px;
		font-weight: 500;
		margin-top: 8px;
		color: #000;
		margin-bottom: 5px
	}
	.button_replace input {
		font-weight: 200;
		padding: 8px;
		font-size: 16px
	}
	.AddedCheck .form-check {
		border: 1px solid #942424;
		padding: 7px 15px
	}
	.AddedCheck .form-check {
		padding: 7px 20px
	}
	.click-new-hides.check_availability_2 a.btn1 {
		padding: 9px;
		font-size: 16px
	}
	.EditExtraBtn.minngus-editbtn button.edit_extra {
		top: 60px;
		right: 0;
		width: 100%;
		font-weight: 400;
		font-size: 16px;
		padding: 8px;
		border-radius: 5px;
		text-transform: capitalize;
		font-family: Muli;
		cursor: pointer
	}
	.page-id-607 .title-dates.dtpExt {
		padding-bottom: 70px
	}
	.EarlyCheck {
		padding: 3px 10px 4px 10px
	}
	fieldset .SmallCheckout .EarlyCheck h1 {
		padding: 0;
		display: block
	}
	fieldset .SmallCheckout .EarlyCheck p {
		font-size: 13px;
		padding: 0;
		margin: 0
	}
	body.page-id-607 .our_menus ul.mobiserch li span {
		font-size: 15px;
		padding-right: 16px
	}
	p.NewVilNN {
		font-size: 18px;
		margin-bottom: 3px
	}
	.title-dates.duration {
		margin-bottom: 2px
	}
	td.ui-datepicker-unselectable span {
		padding: 10px 14px!important
	}
	.page-id-15 .ui-datepicker td a {
		line-height: 40px
	}
	.room_btn.roombtnMaxw {
		max-width: unset
	}
	.AgnHalf .btn.btn-cta {
		max-width: unset
	}
	.vilaSrchSeclBk .selector {
		background: #fff
	}
	.button_replace {
		max-width: unset
	}


}
@media only screen and (max-width: 767px) {
	form#villaForm input {
		font-size: 13px;
		padding: 8px 5px
	}
	form#villaForm select {
		font-size: 13px;
		padding: 0 5px
	}
	.selectize-input.items.full.has-options.has-items>div {
		font-size: 11px;
		padding: 0 0!important
	}
	form#villaForm .selectize-control.single .selectize-input:after {
		margin-top: -1px!important;
		right: 3px
	}
	form#villaForm .selectize-control.selector.ftNselct.currency_select11.single.plugin-remove_button {
		background: 0 0
	}
	form#villaForm .vilaSrchSeclBk .selectize-input {
		padding: 8px 5px
	}
	form#villaForm .BannrGrup span {
		right: 11px
	}
	form#villaForm button.btn.SubBtn.VilaSrchSubBtn {
		height: 36px
	}
	form#villaForm span.check_available1 {
		font-size: 19px!important
	}
	.pi-mainmaplist .pi-mainlistbtms {
		max-width: 60%;
		width: 100%;
		margin: 0 auto;
		margin-right: 0
	}
	.pi-mainlisttop {
		padding-left: 0!important
	}
	.pi-mainmaplist .pi-mainlistbtms {
		max-width: 35%!important
	}
	.pi-mainlistimgs img {
		width: 60%!important;
		height: 100%!important
	}
	.room_btn .vilRmbtnrad.btn-cta {
		margin-top: 0
	}
	.pi-mainlist hr {
		display: none
	}
}
@media (min-width: 320px) and (max-width: 768px) {
	.disply-off {
		display: none
	}
	.check_available1 {
		display: block!important
	}
	.BannerFrom.slideSel span.check_available1 {
		font-size: 17px!important;
		position: relative;
		top: -2px
	}
	.main_menu .sub-menu li {
		line-height: 1;
		padding: 7px 0
	}
	.col-md-4.col-sm-4.col-12.Newgallery.single_glry_img {
		-ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
	.single_glry_img .galleryDBox {
    margin-bottom: 3px;
    height: 100px;
}
.row.PicRowBk .single_glry_img {
    padding-top: 4px;
    padding-bottom: 0px;
    padding-right: 0px!important;
    padding-left: 0px!important;
}
	}

@media (min-width: 320px) and (max-width: 767px) {
	.Vtext_section.NwVtxSct {
		border-bottom: 1px solid rgba(0, 0, 0, .1);
		margin-bottom: 50px;
		padding-bottom: 30px
	}
	.custom-border-cls {
		border-bottom: unset;
		margin-bottom: unset;
		padding-bottom: unset
	}
	.video_section img {
		margin-top: -50px
	}
	.all_rights p {
		margin-bottom: 5px;
		font-size: 11px
	}
	ul.nav-social {
		padding-left: 11px
	}
	.footer_section p {
		font-size: 11px;
		position: relative;
		top: 15px;
		left: 0;
		margin: 0 auto;
		right: 0
	}
	p.TouchP {
		top: -6px!important
	}
	.pi-topsearch {
		position: sticky;
		top: 55px
	}
	span.villasnames {
		font-size: 12px;
		display: block;
		color: #942424
	}
	.page-id-1087 ul.mobiserch li {
		padding-right: 12px
	}
	.page-id-1087 ul.mobiserch {
		margin-right: 5px
	}
	.page-id-356 ul.mobiserch li {
		padding-right: 12px
	}
	.page-id-356 ul.mobiserch {
		margin-right: 5px
	}
	.GalleryDetail .row {
		padding: 0 0
	}
	.page-id-141 .custom-cls-gallery {
		padding-top: 15px
	}
	.youtube-video-single {
		padding-left: 0!important;
		padding-right: 0!important
	}
	div#accordion .panel.panel-default {
		text-align: left;
		padding-left: 45px
	}
	div#accordion h4.panel-title {
		padding-bottom: 10px
	}
	section.mainpage-secvice_werapper h4.panel-title p img {
		display: inline-block;
		margin-right: 25px
	}
	div#accordion .panel-title p:after {
		transition: all .5s;
		content: "\f107";
		font: normal normal normal 14px/1 FontAwesome;
		font-size: 21px;
		color: #888;
		position: relative;
		top: 3px;
		float: right;
		right: 55px!important
	}
	section.mainpage-secvice_werapper .panel-body p {
		padding-left: 0
	}
	.page-id-17 .pi-mainlistbtms p {
		display: block;
		text-align: center;
		padding-top: 0;
		padding-bottom: 5px
	}
	p.texxts {
		display: none!important
	}
	span.villasnames {
		text-transform: uppercase;
		padding-top: 1px
	}
	img.imggsecviceone {
		position: relative;
		right: -5px
	}
	img.imggsecviceyhree {
		position: relative;
		left: 6px
	}
	img.imggsecvice {
		position: relative;
		left: 5px
	}
	.banner_bg {
		min-height: 95vh
	}
	div#pymntbtnscrl .ChoosStepSide .chosImg img {
		display: none
	}
	div#pymntbtnscrl div#pills-tabContent.tab-content>.tab-pane {
		display: block;
		opacity: 1
	}
	div#pymntbtnscrl {
		display: none;
		padding-top: 38px
	}
	div#pymntbtnscrl .Chos04 p {
		margin-bottom: 0;
		line-height: 20px;
		font-size: 13px
	}
	div#pymntbtnscrl ul#pills-tab li a {
		padding-bottom: 0;
		font-size: 19px;
		line-height: 0;
		padding: 28px 15px
	}
	div#pymntbtnscrl .Chos04 {
		padding: 0 0
	}
	.SummryRw.pdrl {
		padding: 10px 0
	}
	div#pymntbtnscrl div#pills-tabContent .SummryRw.ToSummry {
		padding: 10px 0 11px
	}
	div#pymntbtnscrl ul#pills-tab {
		margin-bottom: 5px!important
	}
	div#pymntbtnscrl .DollorTabHide.sidebar_currency {
		padding: 0 0
	}
	body.page-id-607 .ChoosStep {
		padding-bottom: 0
	}
	div#pymntbtnscrl .SummryBoxTo h1 {
		font-size: 21px;
		margin-bottom: 0
	}
	div#pymntbtnscrl .BsumClr {
		font-size: 21px;
		margin-bottom: 0
	}
	.loader {
		background-size: 255px!important;
		margin: 0 auto;
		background: url(https://www.mingguvillas.com/new/wp-content/uploads/2019/12/loader.gif) % 50% no-repeat #f9f9f9;
	}
	.loader p {
		padding-top: 0;
		font-size: 14px;
		padding-left: 0
	}
	.PaFeldBox a:focus {
		color: #942424
	}
	.PaFeldBox a:active {
		color: #942424
	}
	.PaFeldBox a:hover {
		color: #942424
	}
}