Options +FollowSymLinks
 
RewriteEngine On
RewriteRule ^([a-z]+)$ /index.php?language=$1
RewriteRule ^([a-z]+)/p/([a-zA-Z-]+)$ /page.php?language=$1&slug=$2
RewriteRule ^([a-z]+)/blog$ /blog.php?language=$1
RewriteRule ^([a-z]+)/blog/([a-zA-Z-]+)$ /blogdetails.php?language=$1&postslug=$2
RewriteRule ^([a-z]+)/contact$ /contact.php?language=$1
RewriteRule ^([a-z]+)/contact/([a-z]+) /contact.php?language=$1&action=$2