<?php include APPPATH.'views/indludes/header.php'; ?>
<!--===========BANNER=================-->
<div class="banner_main">
  <div class="owl-carousel owl-theme" id="bannerSlider">
    <div class="item">
      <div class="height400" style="background:url('assets/images/bg-slider-h1a.jpg');">
      </div>
    </div>
    <div class="item">
      <div class="height400" style="background:url('assets/images/banners.png');">
      </div>
    </div>
  </div>

  <div class="banner_form">
    <h3>Your Personal Property Portal in the UAE</h3>
      <div class="tab_3Tops">
        <ul class="tabs">
          <li class="tab"><a class="active waves-effect waves-light" href="#test1" id="clickRent">RENT</a></li>
          <li class="tab"><a class="waves-effect waves-light" href="#test2" id="clickBuy">BUY</a></li>
        </ul>
      </div>
      <div class="banner_frmS">
        <div id="test1">
          <div class="form_inner">
            <form id="" action="">
                <div class="myinput_filds">
                  <div class="input-field">
                    <span class="ti-location-pin"></span>
                    <input id="City" type="text" required="" placeholder="City, Address, Neighbourhood, Buildings" class="validate">
                  </div>
                  <div class="input-field psoi_ups">
                    <button type="submit" class="srchbtn waves-effect waves-light"><img src="assets/images/searchicon.png"/> Search </button>
                  </div>
                </div>
            </form>
          </div>
        </div>
        <div id="test2">
          <div class="form_inner">
            <form id="" action="">
                <div class="myinput_filds">
                  <div class="input-field">
                    <span class="ti-location-pin"></span>
                    <input id="City" type="text" required="" placeholder="City, Address, Neighbourhood, Buildings" class="validate">
                  </div>
                  <div class="input-field psoi_ups">
                    <button type="submit" class="srchbtn waves-effect waves-light"><img src="assets/images/searchicon.png"/> Search </button>
                  </div>
                </div>
            </form>
          </div>
        </div>
      </div>
  </div>
  
  <div class="Coll_2actionS">
    <div class="container">
    <div class="row">
      <div class="col s8">
        <p><b>List a Rental For Free,</b> Post your listings on the fastest growing Property Portal in the UAE</p>
      </div>
      <div class="col s4">
        <div class="lern_moresX right"><a href="" class="btnblock waves-effect waves-light">Start Here</a></div>
      </div>
    </div>
  </div>
  </div>
</div>
<!--===========BANNER=================-->


<!--===========WE MAKE HELP=================-->
<div class="wemake_help">
  <div class="container">
    <div class="we_help">
    <h1>We Help You</h1>
    <div class="row">
      <div class="col s6">
        <div class="find_img">
          <img src="assets/images/home-parallax-2-1.jpg" alt="images" class="aves-effect waves-light" />
        </div>
      </div>
      <div class="col s6">
        <div class="find_cnt_im">
          <div class="row"> 
            <div class="col s6" style="border-bottom: 1px solid #f1f1f1;border-right: 1px solid #f1f1f1;">
              <div class="my_field" >
                <a href="">
                  <span class="ti-location-pin"></span>  
                  <h3>Find your property on the map</h3>
                </a>
              </div>
            </div>
            <div class="col s6">
              <div class="my_field">
                <a href="">
                  <span class="ti-user"></span> 
                  <h3>Find trusted agents with experience</h3>
                </a>
              </div>
            </div>
          </div>
          <div class="row"> 
            <div class="col s6">
              <div class="my_field">
                <a href="">
                  <span class="ti-home"></span>  
                  <h3>Pick and compare properties to rent or buy</h3>
                </a>
              </div>
            </div>
            <div class="col s6" style="border-left: 1px solid #f1f1f1;border-top: 1px solid #f1f1f1;">
              <div class="my_field" >
                <a href="">
                  <span class="ti-export"></span> 
                  <h3>List your properties online For FREE!!</h3>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
<!--===========WE MAKE HELP=================-->


<!--===========BOX_image=================-->
<div class="box-3in">
  <div class="container">
    <div class="heading_to">
      <h1>Recently Listed Properties</h1>
      <p>These are the most recent properties added, with featured listed first</p>
    </div>

    
    <div class="owl-carousel owl-theme" id="listproperty">
      <div class="item">
        <div class="in_box">
          <div class="box_img1">
            <a href="" class="waves-effect waves-light"><img src="assets/images/pro1.png" alt="images"/></a>
            <span class="ForSale">For Sale</span>
            <div class="compareX"><span class="ti-heart"></span></div>
            <div class="box_cnts">
              <div class="bed_bath">
                <p><img src="assets/images/bath.png" alt="images"/> 2 | <img src="assets/images/bed.png" alt="images"/> 2 | <img src="assets/images/size.png" alt="images"/>  50x60</p>
              </div>
              <h4>Off Plan Two Bedroom Apartment...</h4>
              <h6><span class="ti-location-pin"></span> Dubai Hills Estate, Dubai, </h6>
              <h5>Price- Start From / <span>AED1,887,888</span></h5>
            </div>
          </div>
        </div>   
      </div>

      <div class="item">
        <div class="in_box">
          <div class="box_img1">
            <a href="" class="waves-effect waves-light"><img src="assets/images/pro2.png" alt="images"/></a>
             <span class="ForSale">For Sale</span>
             <div class="compareX"><span class="ti-heart"></span></div>
             <div class="box_cnts">
            <div class="bed_bath">
              <p><img src="assets/images/bath.png" alt="images"/> 2 | <img src="assets/images/bed.png" alt="images"/> 2 | <img src="assets/images/size.png" alt="images"/>  50x60</p>
            </div>
            <h4>Off Plan Two Bedroom Apartment...</h4>
            <h6><span class="ti-location-pin"></span> Dubai Hills Estate, Dubai, </h6>
            <h5>Price- Start From / <span>AED1,887,888</span></h5>
          </div>
          </div>

        </div> 
      </div>

      <div class="item">
        <div class="in_box">
          <div class="box_img1">
            <a href="" class="waves-effect waves-light"><img src="assets/images/pro3.png" alt="images"/></a>
             <span class="ForSale">For Sale</span>
             <div class="compareX"><span class="ti-heart"></span></div>
             <div class="box_cnts">
            <div class="bed_bath">
              <p><img src="assets/images/bath.png" alt="images"/> 2 | <img src="assets/images/bed.png" alt="images"/> 2 | <img src="assets/images/size.png" alt="images"/>  50x60</p>
            </div>
            <h4>Off Plan Two Bedroom Apartment...</h4>

            <h6><span class="ti-location-pin"></span> Dubai Hills Estate, Dubai, </h6>
            <h5>Price- Start From / <span>AED1,887,888</span></h5>
          </div>
          </div>

        </div> 
      </div>
    </div>

  </div>
</div>
<!--===========BOX_image=================-->





<!--===========BOX_image=================-->
<div class="box-3in gray_bgsX">
  <div class="container">
    <div class="heading_to">
      <h1>Most Viewed Properties</h1>
      <p>These are the Most Viewed Properties added, with featured listed first</p>
    </div>

    <div class="owl-carousel owl-theme" id="listproperty1">
      <div class="item">
        <div class="in_box">
          <div class="box_img1">
            <a href="" class="waves-effect waves-light"><img src="assets/images/pro4.png" alt="images"/></a>
            <span class="ForSale">For Rent</span>
            <div class="compareX"><span class="ti-heart"></span></div>
            <div class="box_cnts">
            <div class="bed_bath">
              <p><img src="assets/images/bath.png" alt="images"/> 2 | <img src="assets/images/bed.png" alt="images"/> 2 | <img src="assets/images/size.png" alt="images"/>  50x60</p>
            </div>
            <h4>Cozy Studio Apartment in Hydra...</h4>
            <h6><span class="ti-location-pin"></span> Al Reem Island, Abu Dhabi, </h6>
            <h5>Price- Per Year / <span>AED70,000</span></h5>
          </div>
          </div>

        </div> 
      </div>
      <div class="item">
        <div class="in_box">
          <div class="box_img1">
            <a href="" class="waves-effect waves-light"><img src="assets/images/pro1.png" alt="images"/></a>
            <span class="ForSale">For Rent</span>
            <div class="compareX"><span class="ti-heart"></span></div>
            <div class="box_cnts">
            <div class="bed_bath">
              <p><img src="assets/images/bath.png" alt="images"/> 2 | <img src="assets/images/bed.png" alt="images"/> 2 | <img src="assets/images/size.png" alt="images"/>  50x60</p>
            </div>
            <h4>Cozy Studio Apartment in Hydra...</h4>
            <h6><span class="ti-location-pin"></span> Al Reem Island, Abu Dhabi, </h6>
            <h5>Price- Per Year / <span>AED70,000</span></h5>
          </div>
          </div>

        </div> 
      </div>
      <div class="item">
        <div class="in_box">
          <div class="box_img1">
            <a href="" class="waves-effect waves-light"><img src="assets/images/home2.jpg" alt="images"/></a>
            <span class="ForSale">For Rent</span>
            <div class="compareX"><span class="ti-heart"></span></div>
           <div class="box_cnts">
             <div class="bed_bath">
              <p><img src="assets/images/bath.png" alt="images"/> 2 | <img src="assets/images/bed.png" alt="images"/> 2 | <img src="assets/images/size.png" alt="images"/>  50x60</p>
            </div>
            <h4>Cozy Studio Apartment in Hydra...</h4>
            <h6><span class="ti-location-pin"></span> Al Reem Island, Abu Dhabi, </h6>
            <h5>Price- Per Year / <span>AED70,000</span></h5>
          </div>
          </div>

        </div> 
      </div>


    </div>

  </div>
</div>
<!--===========BOX_image=================-->


<!--===========BOX_image=================-->
<div class="box-3in largest_vivewsX">
  <div class="container">
    <div class="heading_to">
      <h1>Largest Properties</h1>
      <p>These are the Largest Homes added, with featured listed first</p>
    </div>

    <div class="owl-carousel owl-theme" id="listproperty2">
      <div class="item">
        <div class="in_box">
          <div class="box_img1">
            <a href="" class="waves-effect waves-light"><img src="assets/images/pro5.png" alt="images"/></a>
            <span class="ForSale">For Sale</span>
            <div class="compareX"><span class="ti-heart"></span></div>
            <div class="box_cnts">
            <div class="bed_bath">
              <p><img src="assets/images/bath.png" alt="images"/> 2 | <img src="assets/images/bed.png" alt="images"/> 2 | <img src="assets/images/size.png" alt="images"/>  50x60</p>
            </div>
            <h4>Luxurious fully furnished...</h4>
            <h6><span class="ti-location-pin"></span> Dubai Hills Estate, Dubai,  </h6>
            <h5>Price- Sq ft / <span>33,594</span></h5>
          </div>
          </div>

        </div> 
      </div>
      <div class="item">
        <div class="in_box">
          <div class="box_img1">
            <a href="" class="waves-effect waves-light"><img src="assets/images/67766_resize_1.jpg" alt="images"/></a>
            <span class="ForSale">For Sale</span>
            <div class="compareX"><span class="ti-heart"></span></div>
            <div class="box_cnts">
            <div class="bed_bath">
              <p><img src="assets/images/bath.png" alt="images"/> 2 | <img src="assets/images/bed.png" alt="images"/> 2 | <img src="assets/images/size.png" alt="images"/>  50x60</p>
            </div>
            <h4>Luxurious fully furnished...</h4>
            <h6><span class="ti-location-pin"></span> Dubai Hills Estate, Dubai,  </h6>
            <h5>Price- Sq ft / <span>33,594</span></h5>
          </div>
          </div>

        </div> 
      </div>
      <div class="item">
        <div class="in_box">
          <div class="box_img1">
            <a href="" class="waves-effect waves-light"><img src="assets/images/67684_resize_1.jpg" alt="images"/></a>
            <span class="ForSale">For Sale</span>
            <div class="compareX"><span class="ti-heart"></span></div>
            <div class="box_cnts">
            <div class="bed_bath">
              <p><img src="assets/images/bath.png" alt="images"/> 2 | <img src="assets/images/bed.png" alt="images"/> 2 | <img src="assets/images/size.png" alt="images"/>  50x60</p>
            </div>
            <h4>Luxurious fully furnished...</h4>
            <h6><span class="ti-location-pin"></span> Dubai Hills Estate, Dubai,  </h6>
            <h5>Price- Sq ft / <span>33,594</span></h5>
          </div>
          </div>

        </div> 
      </div>
    </div>
  </div>
</div>
<!--===========BOX_image=================-->


<!--===========BOX_image=================-->
<div class="box-3in gray_bgsX">
  <div class="container">
    <div class="heading_to">
      <h1>High-End Properties</h1>
      <p>These are the Most Viewed Properties added, with featured listed first</p>
    </div>

    <div class="owl-carousel owl-theme" id="listproperty3">
      <div class="item">
        <div class="in_box">
          <div class="box_img1">
            <a href="" class="waves-effect waves-light"><img src="assets/images/70431_crmmresize_1.jpg" alt="images"/></a>
            <span class="ForSale">For Sale</span>
            <div class="compareX"><span class="ti-heart"></span></div>
            <div class="box_cnts">
            <div class="bed_bath">
              <p><img src="assets/images/bath.png" alt="images"/> 2 | <img src="assets/images/bed.png" alt="images"/> 2 | <img src="assets/images/size.png" alt="images"/>  50x60</p>
            </div>
            <h4>Mixed Use Plot G+60 / SZR...</h4>
            <h6><span class="ti-location-pin"></span> Sheikh Zayed Road, Dubai,  </h6>
            <h5>Price- Per Year / <span>AED240,000,000</span></h5>
          </div>
          </div>

        </div> 
      </div>
      <div class="item">
        <div class="in_box">
          <div class="box_img1">
            <a href="" class="waves-effect waves-light"><img src="assets/images/70429_crmmresize_1.jpg" alt="images"/></a>
            <span class="ForSale">For Sale</span>
            <div class="compareX"><span class="ti-heart"></span></div>
            <div class="box_cnts">
            <div class="bed_bath">
              <p><img src="assets/images/bath.png" alt="images"/> 2 | <img src="assets/images/bed.png" alt="images"/> 2 | <img src="assets/images/size.png" alt="images"/>  50x60</p>
            </div>
            <h4>Mixed Use Plot G+60 / SZR...</h4>
            <h6><span class="ti-location-pin"></span> Sheikh Zayed Road, Dubai,  </h6>
            <h5>Price- Per Year / <span>AED240,000,000</span></h5>
          </div>
          </div>

        </div> 
      </div>
      <div class="item">
        <div class="in_box">
          <div class="box_img1">
            <a href="" class="waves-effect waves-light"><img src="assets/images/pro6.png" alt="images"/></a>
            <span class="ForSale">For Sale</span>
            <div class="compareX"><span class="ti-heart"></span></div>
            <div class="box_cnts">
            <div class="bed_bath">
              <p><img src="assets/images/bath.png" alt="images"/> 2 | <img src="assets/images/bed.png" alt="images"/> 2 | <img src="assets/images/size.png" alt="images"/>  50x60</p>
            </div>
            <h4>Mixed Use Plot G+60 / SZR...</h4>
            <h6><span class="ti-location-pin"></span> Sheikh Zayed Road, Dubai,  </h6>
            <h5>Price- Per Year / <span>AED240,000,000</span></h5>
          </div>
          </div>

        </div> 
      </div>
    </div>

  </div>
</div>
<!--===========BOX_image=================-->



<!--==============car===========-->
<!--===========BOX_image=================-->
<div class="car_rent">
  <div class="container">
    <div class="rentcarmain">
      <div class="row">
        <div class="col s6">
          <div class="car_rentimg">
            <img src="assets/images/HOTEL.png" alt="images">
            <h5 class="waves-effect waves-light"> <span class="ti-home"></span> MAWJUUD</h5>
          </div>
        </div>
        <div class="col s6">
          <div class="car_cntfull">
            <h3>Your desired property from Mawjuud</h3>
            <p>Mawjuud displays a fantastic selection of properties from multiple agencies and developers based in the region. We facilitate the listings on our portal for FREE! Giving you more choice to find your dream home as a property seeker than any other website in the region. Browse our search today for a fine selection of UAE's real estate properties showcased from the top Agencies & Brokers in the country. </p>
            <a class="btnblock waves-effect waves-light" href="javascript:void(0)">View More Offers</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  



<!--===========BOX_image=================-->
<div class="logo_slider">
  <div class="container">
    <div class="row">
      <div class="col s6">
        <div class="logo_im">
          <h2><span>Featured Agents & Agencies</span></h2>
          <div class="our_agentS row">
            <div class="col s6">
              <img src="https://www.mawjuud.com/wp-content/uploads/2018/06/Mylo-Real-Estate-Dubai.png?189db0&189db0">
              <div class="find_bn">
                <a href="">Find out more</a>
              </div>
            </div>
            <div class="col s6">
              <img src="https://www.mawjuud.com/wp-content/uploads/2018/04/banke-real-estate-1.jpg?189db0&189db0">
              <div class="find_bn">
                <a href="">Find out more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col s6">
        <div class="logo_im">
          <h2><span>Featured Developers</span></h2>
          <div class="our_agentS row">
            <div class="col s6">
              <img src="https://mawjuud.com/wp-content/themes/realeswp/Alef_Brand-Identity_RGB.png">
              <div class="find_bn">
                <a href="">Find out more</a>
              </div>
            </div>
            <div class="col s6">
              <img src="https://mawjuud.com/wp-content//themes/realeswp/damac-logo.png">
              <div class="find_bn">
                <a href="">Find out more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<!--     <div class="owl-carousel owl-theme" id="logo_sliderM">
      <div class="item">
        <div class="logo_main">
          <div class="row">
            <div class="col s7">
              <img class="img-respinsive center-block" src="https://www.mawjuud.com/wp-content/uploads/2018/06/Mylo-Real-Estate-Dubai.png">
              <hr>
              <p class="text-center"> Agencies & Agents</p>
            </div>
            <div class="col s5">
                <div class="gbjtext">
                  <h3><span>Featured</span></h3>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="logo_main">
          <div class="row">
            <div class="col s7">
              <img class="img-respinsive center-block" src="https://www.mawjuud.com/wp-content/uploads/2018/04/banke-real-estate-1.jpg">
              <hr>
              <p class="text-center"> Agencies & Agents</p>
            </div>
            <div class="col s5">
                <div class="gbjtext">
                  <h3><span>Featured</span></h3>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="logo_main">
          <div class="row">
            <div class="col s7">
              <img class="img-respinsive center-block" src="https://mawjuud.com/wp-content/themes/realeswp/Alef_Brand-Identity_RGB.png">
              <hr>
              <p class="text-center"> Developers</p>
            </div>
            <div class="col s5">
                <div class="gbjtext">
                  <h3><span>Featured</span></h3>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="logo_main">
          <div class="row">
            <div class="col s7">
              <img class="img-respinsive center-block" src="https://mawjuud.com/wp-content//themes/realeswp/damac-logo.png">
              <hr>
              <p class="text-center"> Developers</p>
            </div>
            <div class="col s5">
                <div class="gbjtext">
                  <h3><span>Featured</span></h3>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>








<!--=============footer===========-->
<footer class="myfooter">

<div class="footers">
  <div class="container">
    <div class="row">
      <div class="col s3">
        <div class="fotbox">
          <h5>About Us</h5>
          <ul>
            <li><a href="">About Us</a></li>
            <li><a href="">Careers</a></li>
            <li><a href="">Our Team</a></li>
            <li><a href="" class="soon_W">Media Center</a></li>
            <li><a href="" class="soon_W">CEO Message</a></li>
          </ul>
        </div>
      </div>
      <div class="col s3">
        <div class="fotbox">
          <h5>What We offer</h5>
          <ul>
            <li><a href="">Property Search</a></li>
            <li><a href="">Property Consultancy</a></li>
            <li><a href="">Property Listing</a></li>
            <li><a href="">Agents Listing</a></li>
            <li><a href="">Real Estate Updates</a></li>
            <li><a href="" class="soon_W">Pioneer Agent</a></li>
            <li><a href="" class="soon_W">Mawjuud Tags</a></li>
          </ul>
        </div>
      </div>
      <div class="col s3">
        <div class="fotbox">
          <h5>Site Map</h5>
          <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Properties</a></li>
            <li><a href="">Rent</a></li>
            <li><a href="">Buy</a></li>
            <li><a href="">Agents</a></li>
            <li><a href="" class="soon_W">Developers</a></li>
            <li><a href="" class="soon_W">Mortgages</a></li>
          </ul>
        </div>
      </div>
      <div class="col s3">
        <div class="fotbox">
          <h5>Advertise with Us</h5>
          <ul>
            <li><a href="">List you Property For Free</a></li>
            <li><a href="">List you Project For Free</a></li>
            <li><a href="" class="soon_W">Offers</a></li>
            <li><a href="" class="soon_W">Pricing and Subscriptions</a></li>
          </ul>
        </div>
      </div>
    </div>
    <hr/>
  </div> 
</div> 



<div class="middle_footers">
  <div class="container">
    <div class="row">
      <div class="col s4">
        <div class="fotbox">
          <h5>Subscribe to our updates</h5>
          <p>Stay Up to date with our latest updates / News</p>
          <div class="newsletter_F">
            <form>
              <input type="email" name="" placeholder="Email Address" required="">
              <button type="submit" id="submit_btns">Subscribe</button>
            </form>
            <p class="unscbS"><a href="">Unsubscribe</a>, or <a href="">Change your Preference</a></p>
            <p class="unscbS"><a href="">Our Privacy Policy,</a> and How we use our information</p>
          </div>
          <div class="bl_lftF">
            <img src="assets/images/cbs.png" alt="images"/>
            Best Real <br/>Estate Portal<br/> 2018
          </div>
        </div>
      </div>
      <div class="col s4">
        <div class="fotbox">
          <h5>Mawjuud App</h5>
          <p>Manage / Search Properties everywhere</p>
          <div class="download_pa">
            <a href=""><img src="assets/images/googleplay.png" alt="images"/></a>
            <a href=""><img src="assets/images/app-download.png" alt="images"/></a>
          </div>
        </div>
      </div>
      <div class="col s4">
        <div class="fotbox">
          <h5>Connect with Us</h5>
          <p>Reach out to us</p>
          <div class="social_connectX">
            <a href=""><span class="ti-facebook"></span></a>
            <a href=""><span class="ti-twitter"></span></a>
            <a href=""><span class="ti-youtube"></span></a>
            <a href=""><span class="ti-linkedin"></span></a>
            <a href=""><span class="ti-instagram"></span></a>
            <a href=""><span class="ti-google"></span></a>
          </div>
        </div>
      </div>

    </div>
    <hr/>
  </div>
</div>




<div class="footer_btm">
  <div class="container">
  <div class="row">
    <div class="col s8">
      <ul class="link_ft">
        <li><a href="">Accessibility</a></li>
        <li><a href="">Contact Us</a></li>
        <li><a href="">Privacy Policy</a></li>
        <li><a href="">Terms and Conditions</a></li>
        <li><a href="">Cookie Policy</a></li>
      </ul>
    </div>
    <div class="col s4">
      <p>© 2018 Mawjuud FZE – All rights Reserved </p>
    </div>
  </div>
  </div> 
  <div class="img_footerL">
    <img src="assets/images/footer_logo.png" alt="images"/>
  </div> 
</div>
</footer>
<!--=============footer===========-->


  <!--  Scripts-->
  <script src="assets/js/jquery-2.1.1.min.js"></script>
  <script src="assets/js/materialize.min.js"></script>
  <script src="assets/js/owl.carousel.min.js"></script>
  <script src="assets/js/smoothscroll.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
  <script src="assets/js/custom.js"></script>
  </body>
</html>
